@model IEnumerable<Fragance_Framework.Entities.Maquiagens>

@{
    ViewData["Title"] = "Lista de Maquiagens";
}

<div class="text-center">
    <h1>Lista de Maquiagens</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Criar um novo produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodInterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Linha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.MaquiagensId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.MaquiagensId" class="btn btn-warning"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.MaquiagensId" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
