@model IEnumerable<Fragance_Framework.Entities.Envase>

@{
    ViewData["Title"] = "Lista de Envase";
}

<div class="text-center">
    <h1>Lista de Envase Setup</h1>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducaoLiberada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducaoLiberada)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.EnvaseSetupId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EnvaseSetupId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EnvaseSetupId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
